
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>outputcacheex</title>
</head>
<body>
    <div> 
        <h1>Date :  @DateTime.Now</h1>
    </div>
</body>
</html>
